* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 217, 192);
}

ul {
  list-style-type: none;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

html, body {
  height: 100%;
  min-height: 900px;
  max-height: 1200px;

  min-width: 1300px;
  max-width: 2500px;
  margin: auto;
  
  font-size: 20px;
  color: rgb(255, 217, 192);

  background-color: #3F5362;
}

body {
  display: grid;
  grid-template-rows: 100px auto 100px;
  
  background: url(../images/backgrounds/home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#delivery {
  display: grid;
  grid-template-rows: 100px 80px auto;
  place-items: center;
}

#delivery h1 {
  font-size: 2.5rem;

  animation: fadeIn 1s;
}

#delivery p {
  width: 900px;
  text-align: center;

  animation: fadeIn 1s;
}

#sites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  place-items: center;
}

#sites a {
  position: relative;
}

#sites a:first-child {
  animation: bounceInUp 1s;
}

#sites a:last-child {
  animation: bounceInUp 1.1s;
}

#sites a img {
  position: absolute;
  top: 10px;
  right: 10px;

  height: 30px;
  width: 30px;
}

#sites a button {
  padding: 30px 0;
  width: 360px;

  background: none;
  border: 1px solid rgba(255, 217, 192, 0.2);
  border-radius: 5px;

  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: rgb(255, 217, 192);

  transition: .2s ease-out;
}

#sites a button:hover {
  background-color: rgb(255, 217, 192);
  color: #3F5362;
  border-color: none;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.115, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.115, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
