* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 217, 192);
}

ul {
  list-style-type: none;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

html, body {
  height: 100%;
  min-height: 900px;
  max-height: 1200px;

  min-width: 1300px;
  max-width: 2500px;
  margin: auto;
  
  font-size: 20px;
  color: rgb(255, 217, 192);

  background-color: #3F5362;
}

body {
  display: grid;
  grid-template-rows: 100px auto 100px;

  background: url(../images/backgrounds/home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#info-container {
  position: relative;
  left: 250px;
  top: 100px;
  place-self: start start;

  display: grid;
  align-items: center;

  width: 300px;
}

#info-container h1 {
  font-size: 2rem;
}

#info-container div {
  width: 300px;
}

#info-container div h2 {
  font-size: 1.3rem;
  font-weight: 700;

  padding-top: 40px;
  padding-bottom: 20px;
}

#contact-container ul {
  display: grid;
  grid-row-gap: 15px;
}

#contact-container ul li {
  display: grid;
  grid-template-columns: 23px auto;
  grid-column-gap: 20px;
  align-items: center;
}

#contact-container ul li img {
  width: 23px;
  height: 23px;
}

#contact-container ul li span, #schedule-container p {
  font-weight: 100;
  font-size: 0.9rem;
}

#schedule-container button {
  margin-top: 30px;
  padding: 20px 40px;

  background: none;
  border: 1px solid rgba(255, 217, 192, 0.2);
  border-radius: 4px;

  font-size: 0.8rem;
  font-weight: 900;
  color: rgb(255, 217, 192);

  transition: .13s ease-out;
}

#schedule-container button:hover {
  background-color: rgb(255, 217, 192);
  color: #3F5362;
}

#info img {
  align-self: center;
  width: 700px;
}

#schedule {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.3);
}

#schedule div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  height: 400px;
  background-color: rgb(255, 217, 192);
}