* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 217, 192);
}

ul {
  list-style-type: none;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

html, body {
  height: auto;
  min-height: 900px;

  max-width: 2500px;
  margin: auto;
  
  font-size: 20px;
  color: rgb(255, 217, 192);

  background-color: #3F5362;
}

body {
  display: grid;
  grid-template-rows: 100px auto 100px;
}

#menu {
  display: grid;
}

#menu h1 {
  text-align: center;
  padding: 15px 0;
}

#menu #categories-container {
  position: sticky;
  top: 0;

  background-color: #3F5362;
}

#menu #categories {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 20px;

  width: 100%;
  max-width: 1000px;
  margin: auto;

  border-bottom: 1px solid rgba(255, 217, 192, 0.2);
}

#categories li {
  padding: 20px 0;

  text-align: center;
  cursor: pointer;
}

#categories li, #categories li a {
  transition: .1s ease-out;
}

.active {
  font-weight: 700;
  box-shadow: 0 -3px 0 rgb(255, 217, 192) inset;
}

#menu-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

#menu-container div {
  display: grid;
}

#menu-container div h3 {
  grid-area: 1 / 1 / 1 / 3;
  padding: 25px 0;
  margin-top: 70px;
}

#menu-container div ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#menu-container div ul li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;

  border: 1px solid rgba(255, 217, 192, 0.2);
  border-radius: 3px;

  padding: 15px;
}

.name {
  font-size: 1rem;
}

.price {
  text-align: end;
  font-size: 0.9rem;
}

.description {
  grid-area: 2 / 1 / 2 / 3;
  width: 100%;

  font-size: 0.8rem;
  color: rgba(255, 217, 192, 0.7);
}
