* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 217, 192);
}

ul {
  list-style-type: none;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

html, body {
  height: auto;
  min-height: 900px;

  min-width: 1300px;
  max-width: 2500px;
  margin: auto;
  
  font-size: 20px;
  color: rgb(255, 217, 192);

  background-color: #3F5362;

  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: 100px auto 100px;
}

#menu {
  display: grid;
}

#menu h1 {
  text-align: center;
  padding: 25px 0;

  font-size: 2.5rem;
}

#categories-container {
  position: sticky;
  top: 0;

  background-color: #3F5362;

  margin-bottom: 100px;
}

#categories {
  display: grid;
  grid-template-columns: repeat(6, auto) 20px 220px;
  grid-column-gap: 20px;

  width: 100%;
  max-width: 1000px;
  margin: auto;

  border-bottom: 1px solid rgba(255, 217, 192, 0.2);
}

#categories li {
  padding: 20px 0;

  text-align: center;
  font-size: 0.9rem;

  cursor: pointer;
}

.vl {
  height: 30px;
  width: 1px;
  background-color: rgba(255, 217, 192,0.2);
  place-self: center;
}

#dropdown {
  grid-column: 8;
  position: relative;
}

#dropdown span {
  margin-left: 40px;
}

#dropdown div {
  position: absolute;
  top: 25px;
  right: 20px;

  border: solid rgba(255, 217, 192, 0.5);
  border-width: 0 1px 1px 0;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#dropdown-list {
  position: absolute;

  display: none;
  grid-row-gap: 10px;

  width: 250px;

  overflow: hidden;

  padding: 15px 0;

  top: 61px;
  right: 0;
  z-index: 10;

  cursor: default;

  border: 1px solid rgba(255, 217, 192, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #3F5362;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);

  transition: .3s ease-in-out;
}

#dropdown:hover #dropdown-list, #dropdown-list:hover {
  display: grid;
}

#dropdown-list li {
  padding: 5px 0;
  margin: 0 25px;
  text-align: left;
}

.active {
  font-weight: 900;
  box-shadow: 0 -3px 0 rgb(255, 217, 192) inset;
}

#menu-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

#menu-container div {
  display: grid;
  margin-bottom: 100px;
}

#menu-container div h2 {
  grid-area: 1 / 1 / 1 / 3;
  padding: 30px 0;
}

#menu-container div ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#menu-container div ul li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;

  border: 1px solid rgba(255, 217, 192, 0.2);
  border-radius: 3px;

  padding: 15px;
}

#menu-container div ul li:hover {
  border-color: rgba(255, 217, 192, 0.3);
}

.name {
  font-size: 1rem;
}

.price {
  text-align: end;
  font-size: 0.9rem;
}

.description {
  grid-area: 2 / 1 / 2 / 3;
  width: 100%;

  font-size: 0.8rem;
  color: rgba(255, 217, 192, 0.7);
}
