<div id="social">
    <a href="https://www.facebook.com/Brioche-803275226683135/">
      <img src="resources/images/icons/facebook.svg" alt="">
    </a>
    <a href="https://www.instagram.com/brioche__shop/">
        <img src="resources/images/icons/instagram.svg" alt="">
    </a>
</div>

<div id="support">
    <div>
        <img src="resources/images/icons/phone.svg" alt="">
        <span>2541181818</span>
    </div>
    <div>
        <img src="resources/images/icons/email.svg" alt="">
        <span>example@email.com</span>
    </div>
</div>

<hr>

<span id="copyright">Brioche Shop 2020 | All rights reserved ©</span>
